extends layout

block content
  script(src='javascripts/reload.js')
  div(class="container-fluid mt-2")
    p This page displays the latest contract creations transactions on the Ethereum mainnet.
      br
      | It's refreshed every second and most recent transactions come first. It currently has a 10 blocks lag.
    div(class="col-sm")
      ul(class="list-group" id='txs')
